body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-template-rows: repeat(8, 1fr); */
  width: 64vh;
  height: 64vh;
  border: 2px solid rgb(255, 255, 255);
  background-color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  transition: all ease-in 0.2s;
  box-sizing: border-box;
}
