* {
  margin: 0;
  padding: 0;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

.templates-container {
  margin-top: 4em;
  width: 90%;
  height: 90%;
  display: grid;
  row-gap: 2em;
  padding: 2em;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--light);
  justify-content: center;
}

.meme-card {
  width: 20em;
  height: 22.5em;
  border-radius: 0.5em;
  padding: 0.25em;
  overflow: hidden;
  justify-self: center;
  border: 1px solid rgb(226, 226, 226);
  background-color: var(--white);
  box-shadow: 4px 4px 8px var(--dark);
  transition: ease 0.1s;
}

.meme-card:hover {
  transform: scale(1.01);
}

.image {
  width: 20em;
  height: 20em;
  border-radius: 0.5em;
  border: 1px solid rgb(226, 226, 226);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#meme-maker-image {
  max-width: 40em;
  max-height: 30em;
  border-radius: 0.5em;
  border: 1px solid rgb(226, 226, 226);
  overflow: hidden;
  justify-self: center;
}

.meme-maker {
  margin: 0 auto;
  max-height: 50em;
  max-width: 60em;
  padding: 0.25em;
  border-radius: 0.5em;
  background-color: var(--white);
  border: 1px solid rgb(226, 226, 226);
  display: flex;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  transition: ease 0.1s;
}
.maker-meme-title {
  color: #091921;
}

.input-and-buttons-container {
  display: flex;
  padding: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input-box-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.meme-pre,
.meme-title {
  text-align: center;
}

@media (max-width: 768px) {
  .templates-container {
    margin-top: 4em;
    width: 90%;
    height: 90%;
    display: grid;
    row-gap: 2em;
    padding: 2em;
    box-sizing: border-box;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--light);
    justify-content: center;
  }
  .meme-maker {
    margin-top: 4em;
    max-width: 25em;
    max-height: 45em;
    display: flex;
    flex-direction: column;
  }
  #meme-maker-image {
    max-width: 25em;
    max-height: 30em;
  }
  .input-and-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .input-box-container {
    gap: 0.2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}
